<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShouYeController</key>
	<dict>
		<key>TabBar</key>
		<dict>
			<key>Title</key>
			<string>首页</string>
			<key>Image</key>
			<string>guide_home_on.png</string>
			<key>Tag</key>
			<integer>0</integer>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Title</key>
			<string>凡客诚品</string>
		</dict>
	</dict>
	<key>ClassificationController</key>
	<dict>
		<key>TabBar</key>
		<dict>
			<key>Title</key>
			<string>分类</string>
			<key>Image</key>
			<string>guide_ju_on.png</string>
			<key>Tag</key>
			<integer>1</integer>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Title</key>
			<string>分类浏览</string>
		</dict>
	</dict>
	<key>ShopCarController</key>
	<dict>
		<key>TabBar</key>
		<dict>
			<key>Title</key>
			<string>购物车</string>
			<key>Image</key>
			<string>guide_cart_on.png</string>
			<key>Tag</key>
			<integer>2</integer>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Title</key>
			<string>购物车</string>
		</dict>
	</dict>
	<key>MyFankeController</key>
	<dict>
		<key>TabBar</key>
		<dict>
			<key>Title</key>
			<string>我的凡客</string>
			<key>Image</key>
			<string>guide_logistics_on.png</string>
			<key>Tag</key>
			<integer>3</integer>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Title</key>
			<string>我的凡客</string>
		</dict>
	</dict>
	<key>MoreController</key>
	<dict>
		<key>TabBar</key>
		<dict>
			<key>Title</key>
			<string>更多</string>
			<key>Image</key>
			<string>guide_tmall_on</string>
			<key>Tag</key>
			<integer>4</integer>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Title</key>
			<string>更多</string>
		</dict>
	</dict>
</dict>
</plist>
